<body class = "VerTareas">
    <h1>Tus Tareas</h1>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form action='@Url.Action("ModificarTarea","Home")' method="post">
          <p>Titulo</p>
          <p><input type="text" name="titulo" id="titulo"  required></p>

          <p>Descripcion</p>
          <p><input type="text" name="descripcion" required></p>

          <p><input type="submit" value="Enviar"></p>
          </form>
      </div>
    </div>
  </div>    


    @foreach (Tarea tarea in ViewBag.listaTareas)
    {
        <h4>@tarea.titulo</h4>
        <p>@tarea.descripcion</p>
        <p>@tarea.fecha</p>
        <p>@tarea.finalizada</p>
        
        <div class="w3-container">
        <button onclick="abrirmodal(@tarea.titulo,@tarea.descripcion)" class="w3-button w3-black">Modificar Tarea</button>
</div>
    }
  


<div class="w3-container">
  <button onclick="AbrirNuevaTarea()" class="w3-button w3-black">Agregar Tarea</button>


<script>
  function abrirModal(titulo, descrip)
  {
    document.getElementById('id01').style.display='block';
    document.getElementById("titulo").value = titulo;
    document.getElementById("descrip").value = descrip;
  }
  function AbrirNuevaTarea()
  {
    document.getElementById('id01').style.display='block';
  }
</script>     
</body>