<body class = "VerTareas">
    <h1>Tus Tareas</h1>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form action='@Url.Action("GuardarTarea","Home")' method="post">

            <input type="hidden" name="IDTarea" id="IDTarea">
          <p>Titulo</p>
          <p><input type="text" name="titulo" id="titulo" required></p>
          <p>Descripcion</p>
          <p><input type="text" name="descripcion" id="descrip" required></p>
          <input type="hidden" name="finalizada" id="finalizada">
          <input type="hidden" name="direccion" id="direccion">
          <p><input type="submit" value="Enviar"></p>
        </form>
      </div>
    </div>
  </div>    


    @foreach (Tarea tarea in ViewBag.listaTareas)
    {
        <form action='@Url.Action("FinalizarTarea","Home")' method="post" style="display:inline;">
          <input type="hidden" name="IDTarea" value="@tarea.IDTarea" />
          <button type="submit" value = "probando" style="border:none;background:none;cursor:pointer;">
              @if (tarea.finalizada)
              {
                  <img src = "~/imagenes/tilde.jpg">
                  <p>FINALIZADA</p>
              }
              else
              {
                  <img src = "~/imagenes/cruz.jpg">
                  <p>NO FINALIZADA</p>
              }
          </button>
        </form>
        <h4>@tarea.titulo</h4>
        <p>@tarea.descripcion</p>
        <p>@tarea.fecha.ToString("dd/MM/yyyy")</p>

        <div class="w3-container">
          <button onclick="abrirModal('@tarea.IDTarea','@tarea.titulo','@tarea.descripcion','@tarea.finalizada')" class="w3-button w3-black">Modificar Tarea</button>
        </div>
        <div>
          <form action='@Url.Action("EliminarTarea", "Home")' method="post">
            <input type="hidden" name="IDTarea" value="@tarea.IDTarea" />
            <button type="submit">ELIMINAR TAREA</button>
          </form>
        </div>
    }
  

<div class="w3-container">
  <button onclick="AbrirNuevaTarea()" class="w3-button w3-black">Agregar Tarea</button>
</div>


<script>
  function abrirModal(IDTarea, titulo, descrip, finalizada)
  {
    document.getElementById('id01').style.display='block';
    document.getElementById("titulo").value = titulo;
    document.getElementById("descrip").value = descrip;
    document.getElementById("IDTarea").value = IDTarea;
    document.getElementById("finalizada").value = finalizada;
    document.getElementById("direccion").value = false;
  }

  function AbrirNuevaTarea()
  {
    document.getElementById('id01').style.display='block';
    document.getElementById("titulo").value = "";
    document.getElementById("descrip").value = "";
    document.getElementById("IDTarea").value = "";
    document.getElementById("finalizada").value = false;
    document.getElementById("direccion").value = true;
  }
</script>     
</body>
